body{
    margin: 0;
    height: 100%;
    weight: 100%;
    background-color: #F2F2F2;
}
ul{
    margin: 0;
    height: 45px;
    padding: 0;
    width:100%;
    list-style-type: none;
    background-color: #F59A23;
}
ul li{
    float:left;
    margin: 15px;
    text-align: center;
    width: 80px;
}

.nav-link{
    text-decoration: none;
    color: white;
}

nav-link:link{
    color: white;
}

nav-link:visited{
    color: white;
}
nav-link:hover{
    color: #666666;
}

.list{
    text-decoration: none;
}

.list:link{
    color: #666666;
}

.list:visited{
    color: #666666;
}
.list:hover{
    color: #F59A23;
}