.box{
    background-color: white;
    border: 1px solid #ebedf0;
    box-shadow: 0 4px 12px rgba(0,0,0,.15) ;
    border-radius: 2px;
}

.head-box{
    position: relative;
    height: 200px;
    width: 90%;
    margin: 50px auto;
    min-width:1100px;
}

.body-box{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-width:1100px;
    margin: 10px auto;
}

.left-right-box {
    height: 400px;
    width: 800px;
    min-width:350px;
}

.center-box {
    height: 400px;
    width: 100%;
    min-width:350px;
    margin: 0 30px;
}

.box-content{
    margin: 30px 30px;
}

.title-color{
    color: #F59A23;
}

.sub-title-color{
    color: #666666;
}

.circle-box{
    margin-right: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    background-color: #F59A23;
    text-align: center;
    color: white
}

.icon{
    width: 20px;
    height: 20px
}

.icon-text{
    margin-right: 5px;
    line-height: 20px;
    text-align: center;
    color: #666666;
    font-weight: bold;
}

.icon-box{
    float: right;
    line-height: 20px;
    display: flex
}

.rank-list{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



